# Backend
*.pyc
__pycache__
db.sqlite3
# Ignore migrations until the database schema becomes stable
backend/apps/*/migrations/0*.py
venv/

# Frontend
node_modules/
build/

# General
.DS_Store
.env
.vim/
