@tailwind base;
@tailwind components;
@tailwind utilities;
@import "aos/dist/aos.css";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.btn {
	@apply bg-blue-700 border-2 border-gray-400 hover:bg-sky-800 hover:scale-110 transition-transform ease-in-out duration-300;
}

.btn-header {
	@apply px-2 py-1 bg-blue-700 border-2 border-gray-400 rounded-lg hover:bg-sky-800 hover:scale-110 transition-transform ease-in-out duration-300;
}
